<% item = ShopItem.find(params[:id]) %>
<% shop_category = item.shop_category %>
<% shop = shop_category.shop %>

<div class="page-container">
  <div class="edit">
    <h5>Please fill out the fields you want to change:</h5>
    <div class="edit-form-div">Current shop item name: <h5><%= item.name %></h5> </div>
    <div class="edit-form-div">Current shop item price: <h5>$<%= item.price %></h5> </div>
    <div class="edit-form-div">Current shop item description: <h5><%= item.description %></h5> </div>
    <div class="edit-form-div">Current shop item picture: <div><%= image_tag item.shop_item_image, size: "100" %> </div></div>

    <div class="edit-form-div">Belongs to category: <span style="font-weight:bold">'<%= shop_category.name %>'</span> in shop: <span style="font-weight:bold">'<%= shop.name %>'</span> </div>

    <%= form_with(url: "/shop_items/#{item.id}", method: "put") do %>
      <div class="edit-form-div">
        New name for shop item '<%= item.name %>':
        <div><%= text_field_tag "name", nil, placeholder: "New item name", class: "new-shop-input" %></div>
      </div>
      <div class="edit-form-div">
        New price for shop item '<%= item.name %>':
        <div><%= text_field_tag "price", nil, placeholder: "New item price", class: "new-shop-input" %></div>
      </div>
      <div class="edit-form-div">
        New description for shop item '<%= item.name %>':
        <div><%= text_field_tag "description", nil, placeholder: "New item description", class: "new-shop-input" %></div>
      </div>
      <div class="edit-form-div">
        New picture for shop '<%= item.name %>':
        <%= file_field_tag "shop_item_image", direct_upload: true %>
      </div>
      <%= hidden_field_tag "shop_category_id", shop_category.id %>
      <div><%= submit_tag "Edit Item", class: "button edit-form-div" %></div>
    <% end %>
    <%= button_to "Go back", shops_path, method: "get", class: "button button-e" %>

  </div>
</div>
