<% if @current_user.role == "owner" %>
<% shop = Shop.find(params[:id]) %>

<div class="page-container">
  <div class="edit">
    <h5>Please fill out the fields you want to change:</h5>
    <div class="edit-form-div">Current shop name: <h5><%= shop.name %></h5> </div>
    <div class="edit-form-div">Current shop picture: <div><%= image_tag shop.shop_image, size: "100" %> </div></div>

    <%= form_with(url: "/shops/#{shop.id}", method: "put") do %>
      <div class="edit-form-div">
        New name for shop '<%= shop.name %>':
        <div><%= text_field_tag "name", nil, placeholder: "New shop name", autofocus: true, class: "new-shop-input" %></div>
      </div>
      <div class="edit-form-div">
        New picture for shop '<%= shop.name %>':
        <%= file_field_tag "shop_image", direct_upload: true %>
      </div>
      <div><%= submit_tag "Edit Shop", class: "button edit-form-div" %></div>
    <% end %>
    <%= button_to "Reverte!", shops_path, method: "get", class: "button button-e" %>

  </div>
</div>

<% else %>
  <% flash[:error] = "You do not have access to this page" %>
  <div class="checkout-container">
    <div class="all-or-container">
      <%= button_to "Reverte!", shops_path, method: "get", class: "button" %>
    </div>
  </div>
<% end %>
