<% shop = Shop.find(params[:id]) %>


<div class="page-container">
<div class="edit-container">
<div class="edit">
  <div>Current shop name: <h6><%= shop.name %></h6> </div>
  <div>Current shop picture: <%= image_tag shop.shop_image, size: "100" %> </div>


  <%= form_with(url: shop_path, method: "put") do %>
    <p>New name for <%= shop.name %></p>
    <%= text_field_tag "New name", nil, placeholder: "New shop name", autofocus: true, class: "new-shop-input" %>
    <p>New picture for <%= shop.name %></p>
    <%= file_field_tag "shop_image", direct_upload: true %>
    <%= submit_tag "Add Shop", class: "button" %>
  <% end %>
</div>
</div>
</div>
