<h1 class="Header-title">Gateway to Diagon Alley</h1>

<div class="users-container">
  <section class="NewUsers">
    <% if flash[:notice] %>
      <p class="Flash-notice">
        <%= flash[:notice] %>
      </p>
    <% end %>

    <% if flash[:error] %>
      <p class="Flash-error">
        <%= flash[:error] %>
      </p>
    <% end %>

    <div class="NewUsers-form">
      <%= form_with url: sessions_path do |form| %>
        <div class="Form-section">
          <p class="Form-input-label">Email:</p>
          <%= form.email_field :email, class: "Form-input" %>
        </div>
        <div class="Form-section">
          <p class="Form-input-label">Password:</p>
          <%= form.password_field :password, class: "Form-input" %>
        </div>

        <div class="Form-section">
          <%= form.submit "Alohomora!", class: "button" %>
        </div>
      <% end %>
    </div>

    <p style="text-align:center;">New witch/wizard? <%= link_to "Sign-Up!", new_user_path %></p>

  </section>
</div>
