<div class="all-or">
  <div class="all-or-title">
    <h5 class="cart-title-name"><%= title %></h5>
    <div><%= orders.count %> orders</div>
  </div>

  <% if orders != [] %>

    <div class="all-orders-container">

      <% orders.each do |order| %>
        <% @sum = 0 %>

        <div class="all-orders">

          <div class="order-dets-all-del order-dets">
            <% if (order.walk_in_customer != nil && role == "customer") || role != "customer" %>
              <h5>Ordered by :<%= order.user.first_name %> <%= order.user.last_name %> (<%= order.user.email %>)
              <% if order.walk_in_customer != nil %>
              (for walk-in customer)</h5>
              <% end %>
            <% end %>
            <% if order.delivered_by != nil && role != "clerk" %>
              <h5>Delivered by :<%= order.delivered_by %></h5>
            <% end %>
            <% if role != "customer" %>
              <% if order.walk_in_customer != nil %>
                <h5>Walk-in Customer: <%= order.walk_in_customer %> </h5>
              <% end %>
            <% end %>
            <h5>Ordered on <%= Date.parse(order.ordered_on.to_s).to_s(:long) %> at <%= Time.parse(order.ordered_on.to_s).strftime("%I:%M %p") %></h5>
            <% if status == "delivered" %>
              <h5>Delivered on <%= Date.parse(order.delivered_on.to_s).to_s(:long) %> at <%= Time.parse(order.delivered_on.to_s).strftime("%I:%M %p") %></h5>
            <% end %>
          </div>

          <div class="container">

            <div class="row row-items">
              <div class="col idk3"><h6>Item Name</h6></div>
              <div class="col idk3"><h6>Quantity</h6></div>
              <div class="col"><h6>Price</h6></div>
            </div>

            <% order.order_items.each do |item| %>

              <div class="row row-items">
                <div class="col idk3"><%= item.shop_item_name %></div>
                <div class="col idk3"><%= item.quantity %></div>
                <div class="col">$<%= item.quantity * item.shop_item_price %></div>
              </div>

              <% @sum += item.quantity * item.shop_item_price %>
            <% end %>

            <div class="row checkout-row-price">
              <div class="col-8 idk3"><h6>Total Price</h6></div>
              <div class="col"><h6>$<%= @sum.round(2) %></h6> </div>
            </div>
          </div>

          <% if role == "clerk" && status == "pending" %>
            <div class="confirm-order">
              <%= button_to "Confirm Order", "/orders/#{order.id}", method: "patch", class: "button" %>
            </div>
          <% end %>

        </div>

      <% end %>
    </div>

  <% else %>
    <div class="empty-cart">
      No items yet!
    </div>
  <% end %>

</div>
