<% if @current_user.role == "owner" %>
<div class="checkout-container">
  <div class="all-or-container">

    <% @user = User.find(params[:user_id]) %>
    <% m = params[:m].to_i %>
    <% year = params[:year].to_i %>


    <% @ordered_by = "#{@user.first_name} #{@user.last_name} (#{@user.email})" %>
    <% @o = Order.delivered.where("walk_in_customer = ? OR user_id = ?", @ordered_by, params[:user_id]) %>

    <% @title = "#{@user.first_name}'s Online Delivered Orders: " %>
    <% if params[:range] == "true" %>
      <% @orders = @o.where("delivered_on >= ? AND delivered_on <= ?", params[:date1], params[:date2]).order("delivered_on DESC") %>
      <% @title += "#{params[:date1]}:#{params[:date2]}" %>
    <% else %>
      <% @orders = @o.where("date_part('month', delivered_on) = ? AND date_part('year', delivered_on) = ?", m, year).order("delivered_on DESC") %>
      <% @title += "#{m}/#{year}" %>
    <% end %>

    <!-- Section for pending -->
    <%= render partial: "all-orders-section", locals: {
                 title: @title,
                 orders: @orders.online,
                 status: "delivered",
                 role: @current_user.role,
               } %>
    <!-- End  -->

    <% @title = "#{@user.first_name}'s walk-in Delivered Orders: " %>
    <% if params[:range] == "true" %>
      <% @title += "#{params[:date1]}:#{params[:date2]}" %>
    <% else %>
      <% @title += "#{m}/#{year}" %>
    <% end %>

    <!-- Section for delivered -->
    <%= render partial: "all-orders-section", locals: {
                 title: @title,
                 orders: @orders.walk_in,
                 status: "delivered",
                 role: @current_user.role,
               } %>
    <!-- End  -->

  </div>
  <div class="orders-goback">
    <% if params[:range] == "true" %>
      <%= button_to "Reverte!", sales_report_path(:id => 0), params: { :range => params[:range], :date1 => params[:date1], :date2 => params[:date2] }, method: "get", class: "button" %>
    <% else %>
      <%= button_to "Reverte!", sales_report_path(:id => m), params: { :year => year, :range => params[:range] }, method: "get", class: "button" %>
    <% end %>
  </div>

</div>

<% else %>
  <% flash[:error] = "You do not have access to this page" %>
  <div class="checkout-container">
    <div class="all-or-container">
      <%= button_to "Reverte!", shops_path, method: "get", class: "button" %>
    </div>
  </div>
<% end %>
